*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    height: 1080px;
    width: 1920px;
}
header{
    background-color: red;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    width: 1080px;
}
h1{
    background-color: blue;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: center;
}
nav{
    background: green;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    width: 720px;
}
i{
    color: blue;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}
div{
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    width: 720px;
}
section{
    background: #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    width: 240px;
}
h2{
    background: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
